body {

}

.page {
    background-size: auto 100%;
    background-position-x: 98px;
    background-repeat: no-repeat;
    position: relative;
}

.next {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 245px;
    top: 0px;
}

.random_age {
    top: 180px;
    position: absolute;
    left: -250px;
}

.random_hair {
    position: absolute;
    left: -100px;
    top: 180px;
}

.random_height {
    position: absolute;
    left: -250px;
    top: 235px;
}

.random_eyes {
    position: absolute;
    left: -100px;
    top: 235px;
}

.random_roll {
  position: absolute;
    left: -250px;
    top: 325px;
}

.roll_characteristics {
  position: absolute;
  top: 370px;
  left: -250px;
  text-align: center;
}

.roll_characteristics div
{
  width: 125px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  margin-top: 3px;
}

.random_characteristics {
    position: absolute;
    left: -100px;
    top: 325px;
}

.career_characteristics {
  position: absolute;
  top: 370px;
  left: -125px;
  text-align: center;
}

.career_characteristics div {
  width: 200px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  margin-top: 3px;
}

.destiny_up {
    position: absolute;
    left: 1051px;
    top: 255px;
    width: 160px;
}

.destiny_down {
    position: absolute;
    left: 1051px;
    top: 310px;
    width: 160px;
}

.resilience_up {
    position: absolute;
    left: 1220px;
    top: 255px;
    width: 175px;
}

.resilience_down {
    position: absolute;
    left: 1220px;
    top: 310px;
    width: 175px;
}

.extra_points {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1187px;
    top: 200px;
    border-radius: 10px;
    text-align: center;
    line-height: 45px;
    font-size: 2rem;
}

.page-1 {
    background-image: url('/assets/img/player-1.jpg');
}

.page-2 {
    background-image: url('/assets/img/player-2.jpg');
}

.next::before
{
    content: '';
    
    position: absolute;
    right: 0px;
    top: 0px;
    
    width: 0;
    height: 0;
    
    background: linear-gradient(
        45deg, white 45%, #aaa 50%, #ccc 60%, white
    );
    transition-duration: 0.3s;
}

.next:hover::before {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

input, select {
    background-color: transparent;
    border: none;
    position: absolute;
    text-align: center;
}

input:focus, select:focus {
  border: none;
  outline: none;
}

input[name="name"] {
  top: 147px;
  left: 236px;
  width: 333px;
}

select[name="races"] {
  top: 147px;
  left: 626px;
  width: 147px;
}

select[name="class"] {
  top: 147px;
  left: 820px;
  width: 144px;
}

input[name="profession"],
select[name="profession"] {
  top: 169px;
  left: 242px;
  width: 327px;
}

input[name="estate"] {
  top: 169px;
  left: 643px;
  width: 321px;
}

input[name="previous_professions"] {
  top: 191px;
  left: 310px;
  width: 463px;
}

input[name="status"] {
  top: 191px;
  left: 828px;
  width: 136px;
}

input[name="age"] {
  top: 213px;
  left: 218px;
  width: 159px;
}

input[name="height"] {
  top: 213px;
  left: 427px;
  width: 142px;
}

input[name="hair"] {
  top: 213px;
  left: 664px;
  width: 109px;
}

input[name="eyes"] {
  top: 213px;
  left: 868px;
  width: 96px;
}

input[name="ha_ini"] {
  top: 309px;
  left: 246px;
  width: 28px;
  height: 28px;
}

input[name="hp_ini"] {
  top: 309px;
  left: 275px;
  width: 28px;
  height: 28px;
}

input[name="f_ini"] {
  top: 309px;
  left: 304px;
  width: 28px;
  height: 28px;
}

input[name="r_ini"] {
  top: 309px;
  left: 333px;
  width: 28px;
  height: 28px;
}

input[name="ini_ini"] {
  top: 309px;
  left: 362px;
  width: 28px;
  height: 28px;
}

input[name="ag_ini"] {
  top: 309px;
  left: 391px;
  width: 28px;
  height: 28px;
}

input[name="des_ini"] {
  top: 309px;
  left: 420px;
  width: 28px;
  height: 28px;
}

input[name="i_ini"] {
  top: 309px;
  left: 449px;
  width: 28px;
  height: 28px;
}

input[name="v_ini"] {
  top: 309px;
  left: 478px;
  width: 28px;
  height: 28px;
}

input[name="em_ini"] {
  top: 309px;
  left: 507px;
  width: 28px;
  height: 28px;
}

input[name="ha_imp"] {
  top: 340px;
  left: 246px;
  width: 28px;
  height: 28px;
}

input[name="hp_imp"] {
top: 340px;
left: 275px;
width: 28px;
height: 28px;
}

input[name="f_imp"] {
top: 340px;
left: 304px;
width: 28px;
height: 28px;
}

input[name="r_imp"] {
top: 340px;
left: 333px;
width: 28px;
height: 28px;
}

input[name="ini_imp"] {
top: 340px;
left: 362px;
width: 28px;
height: 28px;
}

input[name="ag_imp"] {
top: 340px;
left: 391px;
width: 28px;
height: 28px;
}

input[name="des_imp"] {
top: 340px;
left: 420px;
width: 28px;
height: 28px;
}

input[name="i_imp"] {
top: 340px;
left: 449px;
width: 28px;
height: 28px;
}

input[name="v_imp"] {
top: 340px;
left: 478px;
width: 28px;
height: 28px;
}

input[name="em_imp"] {
  top: 340px;
  left: 507px;
  width: 28px;
  height: 28px;
}

input.career-1, div.career-1 {
  background-color: #98FB98;
}

input.career-2, div.career-2 {
  background-color: #E0FFFF;
}

input.career-3, div.career-3 {
  background-color: #D8BFD8;
}

input.career-4, div.career-4 {
  background-color: #F08080;
}

input[name="ha_total"] {
top: 371px;
left: 246px;
width: 28px;
height: 28px;
}

input[name="hp_total"] {
top: 371px;
left: 275px;
width: 28px;
height: 28px;
}

input[name="f_total"] {
top: 371px;
left: 304px;
width: 28px;
height: 28px;
}

input[name="r_total"] {
top: 371px;
left: 333px;
width: 28px;
height: 28px;
}

input[name="ini_total"] {
top: 371px;
left: 362px;
width: 28px;
height: 28px;
}

input[name="ag_total"] {
top: 371px;
left: 391px;
width: 28px;
height: 28px;
}

input[name="des_total"] {
top: 371px;
left: 420px;
width: 28px;
height: 28px;
}

input[name="i_total"] {
top: 371px;
left: 449px;
width: 28px;
height: 28px;
}

input[name="v_total"] {
top: 371px;
left: 478px;
width: 28px;
height: 28px;
}

input[name="em_total"] {
top: 371px;
left: 507px;
width: 28px;
height: 28px;
}

input[name="destiny"] {
top: 285px;
left: 605px;
width: 28px;
height: 23px;
}

input[name="fortune"] {
top: 308px;
left: 605px;
width: 28px;
height: 23px;
}

input[name="resilience"] {
top: 307px;
left: 653px;
width: 56px;
}

input[name="resolution"] {
top: 307px;
left: 709px;
width: 56px;
}

input[name="motivation"] {
top: 307px;
left: 765px;
width: 56px;
}

input[name="movement"] {
top: 379px;
left: 647px;
width: 54px;
height: 21px;
}

input[name="walk"] {
top: 379px;
left: 781px;
width: 54px;
height: 21px;
}

input[name="run"] {
top: 379px;
left: 915px;
width: 54px;
height: 21px;
}

input[name="endurance"] {
border: 1px solid black;
top: 471px;
left: 327px;
height: 23px;
width: 37px
}

input[name="art"] {
border: 1px solid black;
top: 494px;
left: 327px;
height: 23px;
width: 37px
}

input[name="athletics"] {
border: 1px solid black;
top: 517px;
left: 327px;
height: 23px;
width: 37px
}

input[name="calm"] {
border: 1px solid black;
top: 539px;
left: 327px;
height: 23px;
width: 37px
}

input[name="charisma"] {
border: 1px solid black;
top: 561px;
left: 327px;
height: 24px;
width: 37px;
}